.StartingSection {
	min-height: 620px;
	box-shadow: 0px 10px 30px 0px rgba(50, 87, 164, 0.1);
	border-radius: 35px;
	padding: 1rem 2rem;

	background-color: white;
	// background: url('../../assets/image/StartingSectionImage.png') no-repeat;
	// background-size: contain;
	// background-position: right bottom;

	display: flex;
	align-items: center;
	flex-wrap: wrap;

	h1 {
		font-size: 2rem;
		max-width: 100%;
	}
	p {
		max-width: 500px;
	}
}
@media (max-width: 500px) {
	.StartingSection {
		padding: 0 1rem;
	}
}
