:root {
	--primary-color: #b62f45;
	--secondary-color: #757676;
	--bg-color: #f8f9fa;
	--text-color: #212529;

	--box-shadow: 0px 10px 30px 0px rgba(50, 87, 164, 0.1);
	--max-width: 1220px;
	--border-radius: 0.5rem;
	--transition: 0.3s ease-in-out;

	[data-theme='dark'] {
		--primary-color: #939f9f;
		--secondary-color: #b62f45;
		--bg-color: #212529;
		--text-color: #f8f9fa;
	}

	--swiper-theme-color: var(--primary-color) !important;

	::selection {
		background: var(--secondary-color);
	}
	::-webkit-scrollbar {
		width: 0;
	}
}
body,
html {
	position: relative;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: var(--text-color);
	background: var(--bg-color);
}
.container {
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 0px 8px;
	border-radius: var(--border-radius);
	background-color: var(--bg-color);
	&:last-child {
		box-shadow: none;
	}
}

section {
	margin: 0 0 80px 0;
}
main {
	margin-top: 135px;
	min-height: 100dvh;
}

// Reset
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

a {
	text-decoration: none;
	color: inherit;
	background-color: transparent;
}
ul,
ol {
	list-style: none;
}
