:root {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #000000;
	background-color: #ffffff;

	--main-color: #d30037;
	--main-transition: 2.3s all;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
// Reset
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
body,
html {
	a {
		text-decoration: none;
		color: inherit;
		background-color: transparent;
	}
	ul,
	ol {
		list-style: none;
	}
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 8px;
}
section {
	padding: 50px 0;
}
