:root {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #000000;
	background-color: #ffffff;

	--main-color-red: #b62f45;
	--main-color-gray: #d5dbd8;
	--main-transition: 0.3s all;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
// Reset
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
body,
html {
	a {
		text-decoration: none;
		color: inherit;
		background-color: transparent;
	}
	ul,
	ol {
		list-style: none;
	}
}

body {
	background: url(../assets/patterns1.png);
	background-repeat: repeat;
	position: relative;
}

.container {
	max-width: 1250px;
	height: 100%;
	margin: 0 auto;
	padding: 0 2rem;
	background-color: #ffffff;
}
section {
	padding: 0 0 50px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'BOWLER', sans-serif;
}
