@mixin disFlex {
	display: flex;
	justify-content: space-between;
}

@mixin mark {
	&:focus,
	&:hover {
		color: var(--main-color-red);
	}
}

.Header {
	width: 100%;
	background: #fff;
	box-shadow: 0px 10px 30px 0px rgba(50, 87, 164, 0.1);
	padding: 1rem 2rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	.HeaderInner {
		@include disFlex;
		align-items: center;
	}
}
.NavBar {
	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		li {
			@include mark();
			font-size: 1rem;
		}
	}
}
.Linked_inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.Linked {
	min-height: 50px;
	width: 200px;
	text-align: center;
	border-radius: 0.5rem;
	cursor: pointer;
	padding: 1rem 2rem;
	transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);

	background-color: var(--main-color-red);
	color: #fff;

	&:hover,
	&:focus {
		box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
		color: #fff;
	}

	&:active {
		box-shadow: none;
		transform: translateY(0);
		color: #fff;
	}

	.Contact {
	}
}

.LinkedPhone {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
	border-radius: 50%;
	height: 3rem;
	width: 3rem;
	background-color: var(--main-color-red);
	transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);

	svg {
		max-width: 2rem;
		max-height: 2rem;
	}
	path {
		fill: white;
	}
	&:hover,
	&:focus {
		box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
		color: #fff;
	}
	&:last-child {
		margin-right: 0;
	}
}
// Мобильное отображение
.mobileMenu {
	padding: 1rem;
	position: fixed;
	@include disFlex();
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: white;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	nav ul {
		margin-top: 100px;
		flex-direction: column;
		width: 100%;
		li {
			width: 100%;
			text-align: center;
		}
	}
	a {
		width: 100%;
		font-size: 2rem;
	}
}

.closeIcon,
.menuIconMobil {
	font-size: 1.5rem;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 27px;
	top: 30px;
}
