.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font-size: 1.5rem;

	.logo {
		font-size: 2rem;
		line-height: 2;
		font-weight: 700;
	}
	.rightSide {
		display: flex;
		gap: 1rem;
	}
	a {
		&:hover {
			color: var(--main-color);
		}
	}
}
.NavBar {
	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1rem;
		li {
			transition: var(--main-transition);
		}
	}
}
