.Store {
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	padding: 2rem 3rem;
	background-color: var(--bg-color);
	h1 {
		color: var(--text-color);
		margin-bottom: 2rem;
		text-align: center;
	}
}
.NoResults {
	text-align: center;
	h4 {
		margin-bottom: 1rem;
	}
}

.ItemList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
	margin-top: 2rem;

	.Card {
		position: relative;
		width: 350px;
		min-height: 300px;
		border-radius: var(--border-radius);
		padding: 1rem 2rem;
		margin-bottom: 1rem;
		box-shadow: var(--box-shadow);
		cursor: pointer;
		transition: var(--transition);
		background-color: var(--bg-color);

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h3 {
			color: var(--primary-color);
			font-size: 1.25rem;
			margin-bottom: 1rem;
		}

		.bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&:hover {
			background-color: var(--primary-color);
		}
		&:hover h3,
		&:hover span,
		&:hover p {
			color: var(--bg-color);
		}
	}

	.innerCard {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 90%;
		h4 {
			color: var(--primary-color);
		}

		.titleContiner {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-bottom: 2rem;
			.title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
			}
			.subTitle {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				span {
					color: var(--primary-color);
				}
			}
		}
		.info {
			height: 100%;
			.infoInner {
				height: 100%;
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				font-size: 1.25rem;
			}
			.section {
				margin: 1rem 0rem 0.5rem 0rem;
			}
		}
	}
}

.conect {
	a {
		color: var(--primary-color);
	}
}

@media screen and (max-width: 1024px) {
	.Card {
		min-width: 100%;
	}
	.Store {
		padding: 1rem 0.5rem;
	}
}
