@mixin mark {
	background-color: var(--main-color-red);
	color: white;
	padding: 1rem;
	border-radius: 35px;
}

.ContactSection {
	box-shadow: 0px 10px 30px 0px rgba(50, 87, 164, 0.1);
	border-radius: 35px;

	background-color: white;
	padding: 1rem;

	h2,
	h3 {
		text-align: center;
		color: var(--main-color-red);
	}
	iframe {
		width: 100%;
		border-radius: 35px;
	}

	.info {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.workTime,
		.address {
			flex-basis: 45%;
			h4 {
				font-size: 1.5rem;
				margin-bottom: 1rem;
				&:last-child {
					margin-bottom: 0;
				}
			}
			p {
				margin-bottom: 0.5rem;
				&:last-child {
					margin-bottom: 0;
				}
			}
			address {
				margin-bottom: 0.5rem;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.address {
			text-align: right;
		}
		h4 {
			color: var(--main-color-red);
		}
	}
	.SocialLink {
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 10px 0px;

			li {
				margin: 0 10px;

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					background-color: #fff;
					color: #000;
					font-size: 20px;

					&:focus,
					&:hover {
						color: var(--main-color-red);
					}
				}
			}
		}
	}
}
